{% extends 'base.html' %}

{% block title %}Achievements{% endblock title %}

{% block breadcrumbs %}
    <li><a href="/">APB:Db</a></li>
    <li class="unavailable"><a href="#">Achievements</a></li>
{% endblock breadcrumbs %}


{% block content %}

    <div class="row">
        <div class="small-2 columns">
            <label>Faction:</label>
            <select class="pinput" name="faction">
                <option value="">Any</option>
                {% for ifaction in factions %}
                    <option{% if faction == ifaction %} selected="selected"{% endif %} value="{{ ifaction.sapbdb }}">{{ ifaction.sapbdb }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="small-12 columns">
            <table class="sort hover full">
                <thead>
                    <tr>
                        <th data-sort="string-nocase">Name</th>
                        <th data-sort="string-nocase">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for achievement in achievements %}
                    <tr>
                        <td>
                            <a href="{% url 'gamedb-achievement-detail' achievement.sapbdb %}">
                                {{ achievement.name }}
                            </a>
                        </td>
                        <td>{{ achievement.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}