{% extends 'base.html' %}


{% block breadcrumbs %}
    <li><a href="/">APB:Db</a></li>
    <li class="unavailable"><a href="#">Achievements</a></li>
{% endblock breadcrumbs %}


{% block content %}

    <div class="row">
        <div class="small-2 columns">
            <label>Faction:</label>
            <select id="factionselect">
                <option value="">All</option>
                {% for xfaction in factions %}
                    <option{% if faction == xfaction %} selected="selected"{% endif %} value="{{ xfaction.sapbdb }}">{{ xfaction.sapbdb }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <table class="sort hover full">
                <thead>
                    <tr>
                        <th data-sort="string-nocase">
                            Name
                        </th>
                        <th data-sort="string-nocase">
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for achievement in achievements %}
                    <tr>
                        <td>
                            <a href="">
                                {{ achievement.name }}
                            </a>
                        </td>
                        <td>{{ achievement.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}